.main {
  padding: 0vh 3vh 0vh 3vh;
}

.return-value {
  white-space: pre;
  margin-bottom: 2vh;
  background: #a300ff0d;
  border-radius: 10px;
  height: 20vh;
  overflow-y: scroll;
  padding-left: 1vw;
  padding-top: 1vh;
}

.button {
  margin-right: 10px;
}