mat-panel-title {
  width: 5%;
}

#add-new-endpoint-button {
  margin-bottom: 15px;
}

button {
  margin-right: 10px;
}

.endpoint-verb {
  width: 55px;
  padding: 3px 15px;
  text-align: center;
  background:#3f51b5;
  color:antiquewhite;
  border-radius: 10px;
  margin-right: 10px;
}


.endpoint-path {
  padding: 3px 15px;
  margin-right: 10px;
}